body {
  margin: 0;
  background-color: black;
}
* {
  font-family: "Avenir";
}
.container {
  margin: 0 auto;
  display: block;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
p {
  display: inline-block;
  line-height: 250%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 5px;
}
button {
  margin: 20px;
  display: inline-block;
  padding: 15px;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 20px;
  line-height: 50%;
  border: none;
  border-radius: 5px;
  background-color: white;
  transition: 0.25s;
}
button:hover {
  cursor: pointer;
  transition: 0.25s;
  background-color: #eee;
}

@media (max-width: 920px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 465px) {
  .container {
    width: 75%;
  }
}
@media (max-width: 310px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 250px) {
  .container {
    width: 95%;
  }
  button,
  p {
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 6px;
  }
}
@media (max-width: 200px) {
  * {
    display: none;
  }
}
